<%= render 'profile', user: @user %>
<div class="user-games-links-container">
<%= link_to 'Past Games', past_games_games_path, :class => "past-button" %>
<%= link_to 'Upcoming Games', upcoming_games_games_path, :class => "upcoming-button"%>
</div>

<%# tab toggle link (for future work) %>
<div data-controller="tab">
</div>
