.button{
  display: block;
  background-color: #00172d;
  color: white;
  border-radius: 0.7em;
  width: 100%;
  text-decoration: none;
  padding: 0.3em;
  margin-bottom: 0.3em;
  text-align: center;
}

button{
  background-color: rgb(214, 212, 212);
  color: black;
  border-radius: 0.2em;
  border: none;
  margin: 0.3em;
}

.search-button{
  background-color: black;
  color: white;
}
