/* Assuming this is your existing code */
.chatrooms-container {
  width: 90%;
  margin: 0 auto;
  background: transparent;
  margin-top: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

// h1 {
//   margin-top: 2px;
//   margin-bottom: 0;
//   padding: 1rem;
// }

.chatrooms-list {
  list-style-type: none;
  padding: 0;
}

.chatroom-item {
  padding-left: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s;
}

.chatroom-item:hover {
  background-color: lightblue;
}

.chatroom-link {
  text-decoration: none; /* Remove underlines */
  border: none; /* Remove border around each letter */
}

.messages {
  height: 100%;
  margin-top: 0px;
  padding-left: 1rem;
}

#new_message {


  .form-group {
    margin-bottom: 0;
  }
}

.all-chats-messages{
  display: flex;
}

.right-messages{
  width: 100%;
  color: white;
  padding: 20px;
}

.message-input-field{
  border: #0074cc 2px solid;
  border-radius: 8px;
  margin-left: 19px;
  margin-top: 20px;
  width: 60%;
  height: 510px;
  overflow-y: scroll;
}

.all-chats-container{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 640px;
  width: 40%;
}

.message-input{
  position: absolute;
  bottom: 169px;
}

.all-chats-container::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

.all-chats-container::-webkit-scrollbar-thumb {
  background-color: #3aa5ec; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border-radius of the scrollbar thumb */
}

.all-chats-container::-webkit-scrollbar-track {
  background: transparent; /* Set the color of the scrollbar track */
}

.message-input-field::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

.message-input-field::-webkit-scrollbar-thumb {
  background-color: #3aa5ec; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border-radius of the scrollbar thumb */
}

.message-input-field::-webkit-scrollbar-track {
  background: transparent; /* Set the color of the scrollbar track */
}

.fa-people-group, .fa-gamepad, .fa-paper-plane{
  color: white;
}

.chat-line{
  width: 500px;
}

.chatroom-input{
  width: 807px;
  height: 100px;
  background: transparent;
  border: #0074cc 2px solid;
  border-radius: 8px;
}

.chatroom-button{
  background: transparent;
  border: none;
  position: absolute;
  bottom: 5px; /* Adjust the bottom spacing as needed */
  right: 5px;
}

.container-showpage-chatroom{
  background: transparent;
  border: #0074cc 2px solid;
  height: 500px;
  border-radius: 8px;
  width: 70%;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;

  h1{
    padding: 1rem;
    font-size: 2em;
  }
}

.container-showpage-chatroom::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

.container-showpage-chatroom::-webkit-scrollbar-thumb {
  background-color: #3aa5ec; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border-radius of the scrollbar thumb */
}

.container-showpage-chatroom::-webkit-scrollbar-track {
  background: transparent; /* Set the color of the scrollbar track */
}

.chatroom-container {
  min-height: 100vh;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 2em;
}

.showpage-chatroom-input{
  width: 70%;
  margin: 0 auto;
  padding-left: 0;
  margin-top: 15px;
}

.showpage-chatroom-send-button{
  background: transparent;
  border: none;
  color: white;
  font-family: 'Bungee Hairline';
}
