.community-div{
  margin-left: 50px;
  padding: 15px;

}
.view-community-button{
  text-decoration: none;

}

.community{
  background: transparent;
  color: white;
  border: 2px solid #0074cc;
  padding: 10px;
  margin-left: 441px;
  margin-bottom: 10px;
  width: 40%;
}

.community-show-container{
  justify-content: space-between;
  margin-left: 75px;
  margin-right: 75px;
}

.line{
  border: 4px solid #0074cc;
  width: 100%;
  margin-top: 20px;
}

.vl {
  border-left: 4px solid #0074cc;
  height: 500px;
}

.upcoming-games, .leaderboard{
  width: 500px;
}

.chat{
  font-size: 100px;
  color: grey;
  margin-right: 20px;
}

.community-link{
  text-decoration: none;
}

.community-list-games{
  text-decoration: none;
  color: white;

  &:hover{
    color: #239cf9;
  }
}
