.community-div{
  margin-left: 50px;
  padding: 15px;

}
.view-community-button{
  text-decoration: none;

}

.community{
  background: transparent;
  color: white;
  border-radius: 4px;
  border: 2px solid #0074cc;
  padding: 10px;
  margin: auto;
  width: 40%;
}

.community-show-container{
  justify-content: space-between;
  margin: 75px;
}

.upcoming-games, .leaderboard{
  border: 2px solid #0074cc;
  width: 500px;
  border-radius: 8px;
  padding: 5px;
}
