h1{
  font-size: 0.9rem;
  margin-bottom: 0;
}

h2{
  color: white;
}

h3{
  color: white;
  text-align: center;
  font-size: 3em;
}

h4{
  color: white;

}

.navbar-nav, .nav-link{
  color: white;
}


