h1{
  font-size: 0.9rem;
  margin-bottom: 0;
  color: white;
}

p {
  color: white;
}



h2{
  color: #39a3f3;
  // text-shadow: -2px -2px 0 #00172d, 2px -2px 0 #00172d, -2px 2px 0 #00172d, 2px 2px 0 #00172d;
}

h3{
  color: white;
  text-align: center;
  font-size: 3em;
}

h4{
  color: white;
  font-size: 0.8em;

}

h5{
  color: white;
  font-size: 0.8em;
  font-style: italic;
}

h6{
  color: white;
  font-size: 1.3em;
}

.navbar-nav, .nav-link{
  color: white;
}

.banner-text{
  color: white;
  text-align: center;
  font-size: 70px;
  background-color: rgba(0, 0, 0, 0.8);
}

.community-text{
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.leaderboard-text{
  margin: 0;
  color: white;
}

.app-name{
  font-family: 'Teko', sans-serif;
}

p{
  color: white;
}
