.mapboxgl-popup {
  transform:none !important;
  top: 2%;
  left: 35%;
  width: 900px !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    display:none !important;
}

.mapboxgl-popup-content {
  width: 350px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}


.map-container {
  display: none;
  width: 50%;
  position: sticky;
  top: 70px
}

.all-games-container {
  transition: margin-left 0.5s; /* Add a smooth transition effect */
  width: 100%;
}

.map-shown {
  width: 50%;
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.map-games-container{
  display: flex;
  justify-content: center;
}

.map-button-container {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
}
