.navbar-lewagon {
  justify-content: space-between;
  background: black;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link:hover {
  color: #f1c40f;
}


