.create-form-input, .create-community-input, .form-inputs {
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
}

.create-form-input-small {
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 8px;
  width: 87%;
  color: #fff;
  padding: 10px;
  font-size: 14px;
}

.create-form-input::placeholder, .create-community-input::placeholder,.form-inputs::placeholder {
  background: transparent;
  color: rgba(211, 211, 211, 0.838);
}

.create-form-input:focus, .create-community-input:focus, .form-inputs:focus {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff
}

.create-form-input:hover, .create-community-input:hover, .form-inputs:hover {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
}

.sports-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sports-item {
  flex: 0 0 30%;
  display: inline-block;
  vertical-align: middle;
}

.sports-selector {
  position: absolute;
  transform: scale(0);
}

.sports-label {
  display: flex;
  align-items: center;
}

.sports-selector + label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 5px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 40px;
  background-color: white;
}

.sports-selector:checked + label {
  color: white !important;
}

#game_sport_tennis + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_sport_tennis:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_sport_tennis:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}

#game_sport_squash + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_sport_squash:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_sport_squash:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}

#game_sport_padel + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_sport_padel:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_sport_padel:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}





.visibility-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visibility-item {
  flex: 0 0 30%;
  display: inline-block;
  vertical-align: middle;
}

.visibility-selector {
  position: absolute;
  transform: scale(0);
}

.sports-label {
  display: flex;
  align-items: center;
}

.visibility-selector + label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 5px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 40px;
  background-color: white;
}

.visibility-selector:checked + label {
  color: white !important;
}








#game_visibility_public + label,#community_visibility_public + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_visibility_public:hover + label#community_visibility_public:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_visibility_public:checked + label, #community_visibility_public:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}

#game_visibility_community + label,#community_visibility_private + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_visibility_community:hover + label,#community_visibility_private:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_visibility_community:checked + label, #community_visibility_private:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}

#game_visibility_private + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_visibility_private:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_visibility_private:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}






#show-venues-button {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#show-venues-button:hover {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}



.venue-card {
  width: 100%;
  background-color: transparent;
}

.venue-image {
  border-radius: 8px;
}

.venue-details {
  flex-grow: 1;
}




























.venues-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.venues-item {
  flex: 0 0 30%;
  display: inline-block;
  vertical-align: middle;
}

.venues-selector {
  position: absolute;
  transform: scale(0);
}

.venues-label {
  display: flex;
  align-items: center;
}

.venues-selector + label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 5px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 40px;
  background-color: white;
}

.venues-selector:checked + label {
  color: white !important;
}

#game_sport_tennis + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_sport_tennis:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_sport_tennis:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}

#game_sport_squash + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_sport_squash:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_sport_squash:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}

#game_sport_padel + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_sport_padel:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_sport_padel:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}














































.create-submit-button {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

.create-submit-button:hover {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


.create-submit-button:checked {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}
