.create-form-input {
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
}

.create-form-input::placeholder {
  background: transparent;
  color: lightgrey;
  color: #fff
}

.create-form-input:focus {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff
}

.create-form-input:hover {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
}
















.sports-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sports-item {
  flex: 0 0 30%;
  display: inline-block;
  vertical-align: middle;
}

.sports-selector {
  position: absolute;
  transform: scale(0);
}

.sports-label {
  display: flex;
  align-items: center;
}

.sports-selector + label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 5px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 40px;
  background-color: white;
}

.sports-selector:checked + label {
  color: white !important;
}

#game_sport_tennis + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_sport_tennis:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_sport_tennis:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}

#game_sport_squash + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_sport_squash:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_sport_squash:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}

#game_sport_padel + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_sport_padel:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_sport_padel:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}



































.visibility-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visibility-item {
  flex: 0 0 30%;
  display: inline-block;
  vertical-align: middle;
}

.visibility-selector {
  position: absolute;
  transform: scale(0);
}

.sports-label {
  display: flex;
  align-items: center;
}

.visibility-selector + label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 5px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 40px;
  background-color: white;
}

.visibility-selector:checked + label {
  color: white !important;
}








#game_visibility_public + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_visibility_public:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_visibility_public:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}

#game_visibility_community + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_visibility_community:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_visibility_community:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}

#game_visibility_private + label {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#game_visibility_private:hover + label {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


#game_visibility_private:checked + label {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}






#show-venues-button {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

#show-venues-button:hover {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}



.venue-card-button {
  display: block;
  width: 100%;
  color: #fff;
  background: transparent;
  border: 0.3px solid #0074cc;
  padding: 0px;
  font-size: 15px;
  margin: 0px;
}

.venue-card-button:hover {
  border: 3px solid #3aa5ec;

}

.selected-venue-card-button {
  background-color: #3aa5ec;
}




















.create-submit-button {
  color: #fff;
  background: transparent;
  border: 2px solid #0074cc;
  border-radius: 18px;
  padding: 10px;
  height: 40px;
  font-size: 15px;
}

.create-submit-button:hover {
  background: transparent;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}


.create-submit-button:checked {
  background: #3aa5ec;
  border: 4px solid #3aa5ec;
  color: #fff;
  font-size: 16px;
}
