<!-- app/views/communities/show.html.erb -->

<div class="community-show">
  <h2 class="text-center"><%= @community.name %></h2>

  <div class="community-show-container d-flex">
    <!-- Upcoming Games -->
    <div class="upcoming-games">
      <h2>Upcoming Games</h2>
      <% if @upcoming_games.any? %>
        <ul>
          <% @upcoming_games.each do |game| %>
            <li><%= link_to game.title, game %></li>
          <% end %>
        </ul>
      <% else %>
        <h4>No upcoming games.</h4>
      <% end %>
    </div>

    <!-- Leaderboard -->
    <div class="leaderboard">
      <h2>Leaderboard</h2>
      <% if @leaderboard.any? %>
        <ol>
          <% @leaderboard.each do |entry| %>
            <li><%= entry.user.username %> - <%= entry.total_games %> games played</li>
          <% end %>
        </ol>
      <% else %>
        <h4>No leaderboard entries.</h4>
      <% end %>
    </div>
  </div>
</div>
